{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<div class="container py-5">
    <form method="post" class="col-md-6 mx-auto p-5 border rounded shadow-lg bg-white">
        <h1 class="h3 mb-4 fw-bold text-center text-primary">Forgot Password</h1>
        <p class="text-center text-muted mb-4">Enter your email to receive a reset link.</p>

        {{ form_start(form) }}
        <div class="mb-4">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.email) }}
        </div>

        {{ form_end(form) }}

        <div class="text-center">
            <a href="{{ path('app_login') }}" class="text-decoration-none text-primary">Back to Login</a>
        </div>
    </form>
</div>
{% endblock %}
